
{% load static %}

{% block content %}
  {% include 'votacao/snippets/nav.html' %}
  {% if latest_question_list %}
    <ul>
      {% for questao in latest_question_list %}
      <li>
        <a href="{% url 'votacao:detalhe' questao.id %}">
          {{ questao.questao_texto }}
        </a>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Nao ha questoes disponiveis.</p>
  {% endif %}
  <a href="{% url 'votacao:criarquestao' %}"> Criar Nova Questão</a> <br>
  {% if request.user.is_superuser %}
  <a href="{% url 'votacao:eliminarQuestao' %}"> Eliminar Questão</a>
  {%endif%}
{% endblock %}
