html{
    background-color: lightcyan;
}

table{
    display: flex;
    justify-content: center;
}
header {
     display: flex;
     justify-content: center;
     padding: 20px;
     font-family: Bahnschrift, sans-serif;
 }
body{
    background-color: white;
    margin: 0;
    font-family: Bahnschrift, sans-serif;
}

.bot{
    display: flex;
    justify-content: center;
}

/*Botoes*/
.b_back{
    background-color: #cfea6a;
    color: white;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🔙</text></svg>")
    16 0,
    auto;
    border: none;
    margin: 4px 4px 100px;
    border-radius: 10px;
}
/*em relação ao conteudo do footer*/
footer {
    background-color: lightcyan;
    text-align: center;
    border-top: 3px solid #eee;
    width: 100%;
    padding-top: 1rem;
}
.column {
    float: left;
    text-align: center;
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}