html{
    display: block;
}

header {
    justify-content: center;
    display: flex;
}

body{
    background: #0000;
    margin-outside: 60px;
}

.formulario{
    justify-content: center;
}

.horarios {

}

.b_lim{
    background-color: limegreen;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🙅‍♀️</text></svg>")
    16 0,
    auto;
}
.b_reg{
    background-color: red;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🫡</text></svg>")
    16 0,
    auto;
}
.b_info{
    background-color: red;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤡</text></svg>")
    16 0,
    auto;
}

.b_reg, .b_lim, .b_info{
    margin: 4px;
    border: none;
}

.bot, .horarios{
    margin: 5px;
    display: flex;
    justify-content: center;
}
img{
    display: flex;
    width: 50px;
    height: 50px;

}

.linksheader {
    width: 50%;
    position: relative;
}

.links {
    justify-content: left;
    width: max-content;
}

.contactosheader {
    position: relative;
    left: 50%;
    justify-content: right;
}

.contactos {
    justify-content: right;
    width: max-content;
}

.fundo{

}
footer {
    position: fixed;
    background-color: pink;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
}

label{
    display: flex;
    justify-content: center;
}
input{
    display: flex;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
}
table{
    display: flex;
    justify-content: center;
}

button{
    border: none;
    margin: 20px;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}