html{
    display: flex;
    justify-content: center;
}
a{
    display: flex;
    justify-content: center;
}

body{
    background: #0000;
    margin-outside: 60px;
}

.formulario{
    justify-content: center;
}

.horarios {

}

.b_lim{
    background-color: limegreen;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🙅‍♀️</text></svg>")
    16 0,
    auto;
}
.b_reg{
    background-color: red;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🫡</text></svg>")
    16 0,
    auto;
}

.b_reg, .b_lim {
    margin: 4px;
    border: none;

}

.bot, .horarios{
    margin: 5px;
    display: flex;
    justify-content: center;
}

.tabela {

}

.links {

}

label{
    display: flex;
    justify-content: center;
}
input{
    display: flex;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
}
table{
    display: flex;
    justify-content: center;
}

button{
    border: none;
    margin: 20px;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}