.b_lim{
    background-color: limegreen;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🙅‍♀️</text></svg>")
    16 0,
    auto;
}

.b_reg{
    background-color: red;
    color: white;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🫡</text></svg>")
    16 0,
    auto;
}

.b_info{
    background-color: #ee8326;
    color: #ffffff;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>➕</text></svg>")
    16 0,
    auto;
}
.b_act {
    background-color: darkblue;
    color: white;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🥰</text></svg>")
    16 0,
    auto;
}
.b_volt {
    background-color: #ee8326;
    color: #ffffff;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👈🏼</text></svg>")
    16 0,
    auto;
}

.b_reg, .b_lim, .b_info, .b_act{
    border: none;
    margin: 4px 4px 100px;
}

.b_volt {
    border: none;
    margin-top: 20px;
    margin-bottom: 120px;
}

.horarios, .formulario{
    margin: 5px;
    display: flex;
    justify-content: center;
}

.day, .times{
    margin: 4px;
    margin-bottom: 15px;
}

.lab {
    margin-left: 10px;
}




.column {
    float: left;
    text-align: center;
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}

.row {
    justify-content: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}



p {
    margin: 0;
}

label{
    display: flex;
    justify-content: center;
}




.info{
    display: flex;
    justify-content: center;
}

button{
    border: none;
    margin: 20px;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}