html{
    background-color: lightcyan;
}
header{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: Bahnschrift, sans-serif;
}
body{
    background-color: white;
    margin: 0;
    font-family: Bahnschrift, sans-serif;
}

label{
    display: flex;
    justify-content: center;
}
.horarios{
    display: flex;
    justify-content: center;
  }
 .formulario{
    margin: 5px;
    display: block;
    justify-content: center;
}
.formulario{
    justify-content: center;
}

.lab {
    display: flex;
    border-radius: 10px;
    margin-left: 10px;
}


.info{
    display: flex;
    justify-content: center;
}
.registar{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
 justify-content: center;
}

.day, .times{
    margin: 4px 4px 15px;
}

/*Botões*/
.b_reg, .b_lim, .b_info, .b_act, .b_back, .b_strong{
    border: none;
    margin: 4px 4px 90px;
    border-radius: 10px;
}

.b_lim{
    background-color: palevioletred;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🙅‍♀️</text></svg>")
    16 0,
    auto;
}

.b_reg{
    background-color: green;
    color: white;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🫡</text></svg>")
    16 0,
    auto;
}

.b_info{
    background-color: #ee8326;
    color: #ffffff;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>➕</text></svg>")
    16 0,
    auto;
}
.b_act {
    background-color: darkblue;
    color: white;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🥰</text></svg>")
    16 0,
    auto;
}

.b_back{
    background-color: #cfea6a;
    color: white;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🔙</text></svg>")
    16 0,
    auto;
}

.b_strong{
    background-color: darkgrey;
    color: black;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>⛔️</text></svg>")
    16 0,
    auto;
}

/*em relação ao conteudo do footer*/
footer {
    background-color: lightcyan;
    text-align: center;
    border-top: 3px solid #eee;
    width: 100%;
    padding-top: 1rem;
}
.column {
    float: left;
    text-align: center;
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}
