html{
    background-color: lightcyan;
}
header {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: Bahnschrift, sans-serif;
}
body{
    background-color: white;
    margin: 0;
    font-family: Bahnschrift, sans-serif;
}


img{
    display: flex;
    width: 50px;
    height: 50px;

}
.heading {
    /*color: var(--gray--hard);*/
    font-size: 3rem;
    font-weight: 800;
    /*letter-spacing: -0.5;*/
    margin-bottom: 3.2rem;
}

.container {
    width: 100%;
    gap: 6.4rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    /*max-width: var(--site--wid);*/
}
.noticia {
    overflow-y: auto;
    max-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    /*max-width: var(--site--wid);*/
}
.convidado{
    display: grid;
    gap: 1.6rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

h1{
    display: flex;
    justify-content: center;
}

.poster-img img {
    display: flex;
    width: 7rem;
    height: 7rem;
    transition: all 1s;
}
figcaption{
    display: flex;
    justify-content: center;
}


.poster-img {
    overflow: hidden;
}

.poster-img img:hover {
    transform: scale(1.2);
}

/*posição dos botões*/
nav{
    margin: 5px;
    display: flex;
    justify-content: center;
}

/* formato dos botões*/
.form, .b_info, .b_act{
    border: none;
    margin: 4px 4px 100px;
}
.b_act {
    background-color: darkblue;
    color: white;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🥰</text></svg>")
    16 0,
    auto;
}

.b_form{
    background-color: cadetblue;
    color: #ffffff;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>⭐️</text></svg>")
    16 0,
    auto;
}

.b_info{
    background-color: #ee8326;
    color: #ffffff;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>➕</text></svg>")
    16 0,
    auto;
}
/*estética do botão*/
input{
    border-radius: 10px;
}
/*em relação ao conteudo do footer*/
footer {
    background-color: lightcyan;
    text-align: center;
    border-top: 3px solid #eee;
    width: 100%;
    padding-top: 1rem;
}
.column {
    float: left;
    text-align: center;
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}