html{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.button{
    width: 500px;
    height: 50px;
    border-radius: 20px;
}

.esquivo{
    display: flex;
    color: white;
    background-color: black;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

div {
    background-color: black;
    color: white;
    padding: 20px;
    display: none;
    border-radius: 20px;
}

.b_back {
    background-color: #ee8326;
    color: #ffffff;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👈🏼</text></svg>")
    16 0,
    auto;
    margin: 4px;
    border: none;
    margin-bottom: 100px;
}

input {
    display: flex;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
}

.button:hover + div {
    display: block;
}